:root {
  --primary: #1b231a;
  --primary-hover: #272e26;
  --secondary: #cbe5cb;
  --secondary-hover: #98aa98;
  --main-button-shadow: 10px;
  --page1-button-shadow: 10px;
  --page2-button-shadow: 10px;
}

body {
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c";
}

main {
  background: var(--primary);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background: var(--secondary);
  padding: 20px 0 20px 0;
}

h1 {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
}

h3 {
  text-align: center;
}

p {
  height: 65%;
  font-family: "Raleway";
}

a {
  color: var(--primary);
}

.link-button {
  background: var(--secondary);
  border: 0;
  margin: 50px 0;
  font-size: 25px;
  width: max-content;
  padding: 10px 70px;
  box-shadow: var(--main-button-shadow) var(--main-button-shadow) 0px #000000;
  transition: background 0.2s ease;
}

.link-button:hover {
  cursor: pointer;
  --main-button-shadow: 7px;
  background: var(--secondary-hover);
}

.wiki-page-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.wiki-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--secondary);
  padding: 10px 20px;
  width: 450px;
  height: 450px;
  text-align: center;
  font-size: 18px;
}

.wiki-page h1 {
  margin-bottom: 5px;
}

.wiki-page-button {
  background: var(--primary);
  color: var(--secondary);
  border: 0;
  font-size: 25px;
  width: max-content;
  padding: 10px 70px;
  transition: background 0.2s ease;
  cursor: pointer;
  margin-bottom: 50px;
}

.wiki-page-button:hover {
  background: var(--primary-hover);
}

.b1 {
  box-shadow: var(--page1-button-shadow) var(--page1-button-shadow) 0px
    rgba(0, 0, 0, 0.25);
}

.b1:hover {
  --page1-button-shadow: 7px;
}

.b2 {
  box-shadow: var(--page2-button-shadow) var(--page2-button-shadow) 0px
    rgba(0, 0, 0, 0.25);
}

.b2:hover {
  --page2-button-shadow: 7px;
}

.d-none {
  display: none;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}

.box {
  background-color: var(--secondary);
  position: relative;
  text-align: center;
  color: var(--primary);
  margin-top: 50px;
  padding: 20px 50px 30px 50px;
  max-width: 800px;
  left: 50%;
  transform: translateX(-50%);
}

.rules h1 {
  margin-bottom: 10px;
}

.rules ul {
  position: relative;
  text-align: left;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
  border: 16px solid var(--primary); /* Light grey */
  border-top: 16px solid var(--secondary); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  z-index: 9999;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
